/* .rafat-height {
  height: 80%;
} */

#generateBtn {
  width: 150px;
  height: 150px;
}
.rafat-cal-button:hover {
  cursor: pointer;
  color: rgb(37, 90, 37) !important;
}
.rafat-enter-key-btn:hover {
  cursor: pointer;
  color: #ffffff !important;
  background-color: #f33b3b !important;
}
