/* .rafat-height {
  height: 80%;
} */

#generateBtn {
  width: 150px;
  height: 150px;
}
.rafat-cal-button:hover {
  cursor: pointer;
  color: rgb(37, 90, 37) !important;
}
#sucess-message {
  display: none;
}
#wrong-message {
  display: none;
}
